.subPageShell {
  padding-top: 4rem;
}

.pageTitle {
  font-size: 2.5em;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.linedH2 {
  border-left: 5px solid var(--primary-color);
  padding-left: 0.5em;
}

.performancesGrid {
  display: grid;
}

@media print {
  .subPageShell {
    padding: 1rem;
  }

  .pageTitle {
    text-align: center;
    margin: 1.5rem;
  }
}

.map {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.poster {
  display: block;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

/* ボタンの配置調整用 */
.buttonContainer {
  margin: 20px 0;
  text-align: center;
  /* 中央寄せにしたい場合 */
}

/* ボタン風の見た目にするスタイル */
.openButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--brighter-primary-color);
  color: var(--main-text-color);
  text-decoration: none;
  /* 下線を消す */
  border-radius: 10px;
  /* 角丸 */
  font-weight: bold;
  transition: background-color 0.2s ease;
}

/* マウスを乗せた時の動き */
.openButton:hover {
  background-color: var(--primary-color);
}

.searchInputWrapper {
  display: block;
  text-align: center;
  margin: 1em;
}

.searchInput {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--login-input-border);
  border-radius: 8px;
  box-sizing: border-box;
}
