.drawerOverlay {
  position: fixed;
  inset: 0;

  background: var(--drawer-overlay-clear);
  visibility: hidden;
  transition: background 0.28s ease, visibility 0.28s;
  z-index: 1000;
}

.drawerOverlay.open {
  background: var(--overlay-bg-color);
  visibility: visible;
}

.drawerPanel {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100%;
  z-index: 1001;

  background-color: var(--drawer-bg-color);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid var(--translucent-w-bg-color);
  box-shadow: 0 4px 8px var(--translucent-b-bg-color);

  transition: right 0.28s ease;

  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.drawerPanel.open {
  right: 0;
}

.drawerClose {
  position: absolute;
  top: 9px;
  right: 7px;

  background: none;
  border: none;
  font-size: 1.4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  padding: 1rem;
  z-index: 990;
}

.drawerPanel {
  overflow-y: auto;
}

.drawerContent {
  padding-bottom: 3rem;
}

.drawerContent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.drawerContent li {
  padding: 0.75rem 0;
}

.drawerContent a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1rem;
}
